.gradle
build/

# Ignore Gradle GUI configOLD
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

./.idea
.idea
.idea/modules/**
.idea/**

/out/**/
conf.json
logs/
logs/**
conf.json.old
confOld.json
